.main{
  width: 100%;
  height: 100%;
  text-align: center;

  &__box{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__sec{
    display: inline-block;
    font-size: 70px;
    font-weight: bolder;
    font-family: sans-serif;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
  }

  &__start , &__wait , &__stop , &__reset{
    width: 60px;
    height: 30px;
    cursor: pointer;
    background-color:rgb(4, 4, 43);
    border-radius: 5px;
    color: rgb(53, 111, 138);
    border: 1px solid white;
    margin: 20px;

    &:hover {
      color: #daf6ff;
      text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    }
  }
}
