<main class="main">
  <div class="main__box">
    <p class="main__sec style">{{initialDate}}</p>
    <div class="main__sec_btn">
      <input type="button" value="START" class="main__start" (click)="starting()" >
      <input type="button" value="STOP" class="main__stop" (click)="stoping()" >
      <input type="button" value="WAIT"  class="main__wait" (click)="waiting()">
      <input type="button" value="RESET" class="main__reset" (click)="reset()">
    </div>
    <div class="main__for_loop">
      <h1 class="loop1"></h1>
      <h1 class="loop2"></h1>
      <h1 class="loop3"></h1>
      <h1 class="loop4"></h1>
      <h1 class="loop5"></h1>
    </div>
  </div>
</main>
